<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="QuanLyBanHangSieuThi.Properties.Settings.QLBANHANGConnectionString"
      connectionString="Data Source=LAPTOP-10O7EBG6\NGOCPHONG;Initial Catalog=QLBANHANG;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>